################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/piwolf.cpp/.vs
/piwolf.cpp/.visualgdb
/piwolf.cpp/build/VisualGDB/Debug/.cmake/api/v1
/piwolf.cpp/build/VisualGDB/Debug
*.user
/piwolf.cpp/build/VisualGDB/Release/.cmake/api/v1
/piwolf.cpp/build/VisualGDB/Release
/piwolf.cpp/obj/ARM/Debug
